/* Structure */
body{
    background-color: grey;
}
table {
    width: 90%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 90%;
}

.treeClass{
    width: 90%;
    float: left;
    padding: 2%;
    margin-left: 3%;
    margin-top: 3%;
    height: 700px;
}

.tableClass{
    width: 100%;
    padding: 2%;
    margin-top: 3%;
    height: 700px;
}

.inputClass{
    width: 60%;
    float: left;
}

.buttonClass{
    width: 30%;
    float: right;
}

.contenedorClass{
    width: 100%;
    float: left;
}

.imageClass{
    width: 30px;
}

.example-viewport-left {
    float: left;
    height: 80%;
    width: 30%;
    border: 1px solid black;
    margin-left: 3%;
    margin-top: 3%;
  }
  
  .example-item-left{
    height: 50px;
  }

  .example-viewport-right {
    float: right;
    height: 80%;
    width: 60%;
    border: 1px solid black;
    margin-top: 3%;
    margin-right: 3%;
  }
  
  .example-item-right{
    height: 50px;
  }