.GridViewStyle
{    
    font-family:Arial Narrow;
    font-size:02px;
    background-color: White; 
    border-bottom-style:none;
    text-transform: uppercase;
    border-width:0px;
    border-top-style:none;
}

.GridViewHeaderStyle
{
    font-family:Arial Narrow;
    font-size:08px;
    color:White;
    text-transform: uppercase;
    background: black url(Image/header3.jpg) repeat-x;
    
    
	position: relative;
	top: expression(this.offsetParent.scrollTop - 2);
	background-color: #4d7893;
	font-weight: bold;
}
.mGrid {  
    width: 100%;  
    background-color: #fff;  
    margin: 5px 0 10px 0;  
    border: solid 1px #525252;  
    text-transform: uppercase;
    border-collapse: collapse;  
}  
  
    .mGrid td {  
        padding: 2px;  
        border: solid 1px #c1c1c1;  
        text-transform: uppercase;
        color: black;  
        position: relative;
		top: expression(this.offsetParent.scrollTop - 3);
    }  
  
    .mGrid th {  
        padding: 4px 2px;  
        color: #fff;  
        background: #424242 url(grd_head.png) repeat-x top;  
        border-left: solid 1px #525252;  
        text-transform: uppercase;
        font-size: 1em;  
        position: relative;
		top: expression(this.offsetParent.scrollTop - 2);
    }  
  
    .mGrid .alt {  
        background: #fcfcfc url(grd_alt.png) repeat-x top;  
    }  
  
    .mGrid .pgr {  
        background: #424242 url(grd_pgr.png) repeat-x top;  
    }  
  
        .mGrid .pgr table {  
            margin: 5px 0;  
        }  
  
        .mGrid .pgr td {  
            border-width: 0;  
            padding: 0 6px;  
            border-left: solid 1px #666;  
            font-weight: bold;  
            color: #fff;  
            line-height: 12px;  
        }  
  
        .mGrid .pgr a {  
            color: #666;  
            text-decoration: none;  
        }  
  
            .mGrid .pgr a:hover {  
                color: #000;  
                text-decoration: none;  
            }  

