.datagrid 
{
	font: normal 12px/100% Arial, Helvetica, sans-serif; 
	/* background: #fff; */
	overflow: hidden; 
	/*box-shadow: #000 0 0 20px;*/
	box-shadow:2px 2px 3px #999;
	/*border: 2px solid #006699; */
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px; 
	border-radius: 0 0 0px 0px;
	background-color:#045FB4
	 }


.mGrid    
{
	width: 100%; 
    box-shadow: #000 0 0 20px; 
    background-color: #001F2E;   
    margin: 1px 1px 1px 1px;   
    border: solid 1px #525252;   
    border-collapse:collapse;
    -webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;	
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }  

.titleGrid { color: White; font-size:10px; font-family: Arial; }


